nav{
    display: flex;
    gap:auto;
    font-size: 20px;
}
.ul-contant{
    display: flex;
    margin: 20px;
    padding: 20px;
    gap: 30px;
    list-style: none;
}
.nav-title{
    font-weight: bolder;
    font-size: 50px;
}
.nav-sp{
    color: rgb(185, 72, 6);
}
   